.mainContainer {
    max-width: 700px;
    width: 100%;
}

#about-title {
    padding-bottom: 0.5rem;
    text-align: center;
}

#about-me, #skills, #goals,
#resume-download {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

#about-me {
    padding-top: 0;
}

#about-me h2 {
    text-align: center;
}

#about-me p:first-of-type {
    padding-top: 0.5rem;
}

#skills-list {
    list-style-type: circle;
    padding-left: 1.5rem;
}
