@import "global.css";

main h1 {
    text-align: center;
    padding: 1rem;
}

#about-img {
    float: right;
    margin: 0 0.5rem;
    max-width: 165px;
    width: 100%;
    height: auto;
}

/* TEST */
.content-section-test {
    overflow: hidden;
}
